pear-ctrl[data-platform="darwin"] {
  margin-top: 12px;
  margin-left: 10px;
}

#titlebar {
  -webkit-app-region: drag;
  height: 30px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #222;
  z-index: 1000;
}

button,
input {
  all: unset;
  border: 1px ridge #b0d944;
  background: #000;
  color: #b0d944;
  padding: 0.45rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  line-height: 1rem;
}

body {
  background-color: #f7f7f7;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
main {
  display: flex;
  height: 100vh;
  color: #000;
  justify-content: center;
  margin: 0;
  padding: 0;
}

alert {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-top: 2px solid red;
  background-color: #eee;
  color: rgb(104, 0, 0);
  z-index: 999;
  padding: 10px 20px;
  transition: 2s;
}

button,
.button {
  background-color: #222;
  color: #ddd;
  border-radius: 30px;
  border: 0;
  padding: 10px 20px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  text-align: center;
  width: 60px;
}

input {
  background-color: transparent;
  color: #000;
  border-radius: 30px;
  border: 0;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.pin {
  width: fit-content;
  position: absolute;
  right: -14px;
  top: -1px;
}

#or {
  margin: 1rem auto;
}

#setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  position: relative;
}

#loading {
  align-self: center;
}

#chat {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 0.75rem;
  overflow: hidden;
  position: relative;
}

#header {
  margin-top: 2.2rem;
  margin-bottom: 0.75rem;
}

#details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

#messages {
  display: flex;
  align-content: flex-start;
  gap: 20px;
  flex: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-y: scroll;
  flex-wrap: wrap;
}

#message-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 80%;
  background-color: #eee;
  padding: 14px;
  border-radius: 20px;
  box-shadow: 0 10px 20px #0000007c;
  z-index: 999;
}
#message-form span {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#edit-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  background-color: #eee;
  padding: 14px;
  border-radius: 20px;
  box-shadow: 0 10px 20px #0000007c;
  z-index: 999;
}
#edit-form span {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#join-form {
  width: 50%;
  display: flex;
  gap: 10px;
  padding: 4px;
  border: 0.6px solid #777;
  border-radius: 30px;
  flex-direction: row-reverse;
}
.send--btn {
  color: #fff;
  background-color: #31511eac;
  border: 0;
  transition: 0.4s;
}
.send--btn:hover {
  background-color: #31511e;
}
.close--btn {
  color: #fff;
  width: 100%;
  background-color: #af1740a6;
  border: 0;
  transition: 0.4s;
}
.close--btn:hover {
  background-color: #af1740;
}
.name {
  background: #000;
  border: 0;
  border-radius: 50px;
  color: #eee;
  position: absolute;
  top: 6%;
  left: 2%;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 20px;
}
.name--popUp {
  padding: 4px;
  border-radius: 40px;
  box-shadow: 0 10px 30px #0000007c;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: #fff;
}
.namePopUpBtn {
  border-radius: 30px;
  background-color: #222;
  color: #ddd;
}
.outerScreen {
  background-color: #0000007c;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.peerList {
  background: #fff;
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 2rem 1rem;
  border-radius: 20px;
}
.peerListCancel {
  position: absolute;
  top: 4%;
  right: 4%;
}
.todo-item {
  background: #fff;
  width: 28%;
  min-height: 100px;
  height: fit-content;
  padding: 14px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}
.menuBtn {
  border-radius: 7px;
  color: #ddd;
  padding: 7px;
  font-size: 12px;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.hide {
  height: 0;
  overflow: hidden;
}
.delete-btn {
  background-color: #ffb0b04f;
  border: 1px solid red;
  color: red;
}
.edit-btn {
  background-color: #27a1f44f;
  border: 1px solid #27a1f4;
  color: #27a1f4;
}
.pin-btn {
  background-color: #da89ff4f;
  border: 1px solid #da89ff;
  color: #da89ff;
}
.delete-btn:hover {
  background-color: #ffb0b086;
}
.edit-btn:hover {
  background-color: #27a2f486;
}
.pin-btn:hover {
  background-color: #e5acff86;
}
.todo-item__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 10px;
  z-index: 199;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.todo-item__menu.show {
  max-height: 100px; /* Adjust this based on the expected height of your menu */
}
.todo-item__menu_btn {
  position: absolute;
  top: 0px;
  right: -9px;
  width: 10px;
  height: 10px;
  background: transparent;
  cursor: pointer;
}
.todo-item__from,
.todo-item__to {
  font-size: 10px;
}
.todo-item-fromto-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.todo-item__title {
  font-size: 16px;
  font-weight: 700;
  color: #444;
  line-height: 1rem;
}
.todo-item__message {
  font-weight: 500;
  font-size: 14px;
  color: #666;
  margin-block: 10px;
  /* display: -webkit-box;*/
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: none;
}
.todo--open--btn {
  width: fit-content;
  height: fit-content;
  font-weight: 600;
  background: #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}
.todo--open--btn img {
  filter: brightness(2);
}
.logo {
  width: 14px;
  height: 14px;
}

.form--input--container {
  padding: 10px 4px 4px 4px;
  background-color: #dedede;
  border-radius: 10px;
}

/* Category CSS */
.category-container {
  padding-inline: 14px;
}
.category-title {
  font-weight: bold;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 700;
}
.category-container label {
  display: flex;
  gap: 4px;
  align-items: center;
}
/* Hide the default checkbox */
input[type="checkbox"] {
  display: none;
}

/* Create a custom checkbox */
.custom-checkbox {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
  margin-right: 5px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}

/* Style for checked state */
input[type="checkbox"]:checked + .custom-checkbox {
  background-color: #4caf50; /* Green background when checked */
  border-color: #4caf50; /* Match border color */
}
/*  */
.todo-item__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}
.todo-item__category {
  width: fit-content;
  padding: 1px 10px;
  font-size: 12px;
  border-radius: 10px;
  font-weight: bolder;
  color: #444;
}
.todo-item__days-left {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 11px;
  margin-bottom: 10px;
}
.todo-item__days-left img {
  width: 12px;
  height: 12px;
  opacity: 0.5;
}

.square {
  position: absolute;
  top: -20%;
  left: -10%;
  width: 300px;
  height: 300px;
  background-color: #7843db4a;
  filter: blur(100px);
  z-index: -1;
}

.blob {
  position: absolute;
  bottom: -20%;
  right: -10%;
  width: 300px;
  height: 300px;
  background-color: #fa707043;
  filter: blur(100px);
  z-index: -1;
}

/* Scrollbar of CHAT */
#messages::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

#messages::-webkit-scrollbar-track {
  background: transparent; /* Background of the scrollbar track */
  border-radius: 10px;
}

#messages::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 10px; /* Rounded edges */
  border: 0; /* Optional: space between scrollbar and track */
}

#messages::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Scrollbar color on hover */
}

.notification {
  max-width: 40%;
  font-weight: 900;
  padding: 1rem;
  border: 1px solid #f85900;
  border-radius: 10px;
  position: fixed;
  bottom: 1%;
  right: 1%;
  background-color: #ffffff88;
  transition: 2s;
}
.inactive {
  transform: translateX(200%);
}

.user-list-item {
  font-size: 14px;
  font-weight: 900;
  color: #444;
  border-bottom: 0.5px solid #bbb;
  padding-block: 10px;
}
.tag {
  color: #fff;
  padding: 2px 10px;
  border-radius: 30px;
  background: #8a6eff;
  margin-left: 10px;
}

/* EXTEND TODO */

.extendTodo {
  position: fixed;
  z-index: 500;
  width: 50vw;
  height: 96vh;
  right: 0;
  bottom: 0;
  background: #f2f2f2;
  box-shadow: 0 10px 30px #bbb;
}
.extendTodo--topDiv {
  padding: 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #bbb;
}
.extendTodo--topDiv--left {
  display: flex;
  align-items: center;
}
.extendTodo--topDiv button {
  background-color: transparent;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.extendTodo--middleDiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-inline: 40px;
  height: 60%;
}
.extendTodo--cat {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-top: 2rem;
}
.extendTodo--cat span {
  padding: 4px 10px;
  border-radius: 30px;
  background-color: greenyellow;
}
.extendTodo--title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.6rem;
  color: #333;
  margin-block: 10px;
}
.extendTodo--time {
  display: flex;
  align-items: center;
  padding: 8px 20px;
  border: 0.5px solid;
  gap: 5px;
  width: fit-content;
  border-radius: 30px;
  font-size: 12px;
  border: 0;
  background: linear-gradient(135deg, #ecdae0, #e5ddf7);
}
.extendTodo--time p {
  margin: 0;
}
.extendTodo--para {
  font-size: 14px;
  color: #555;
  text-align: justify;
}
.extendTodo--bottomDiv {
  padding-inline: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28%;
}
.extendTodo--comment {
  overflow-y: scroll;
  margin-block: 10px;
}
.closeExtendTodo {
  transform: translateX(150%);
}
#todo-filter {
  padding: 9px 20px;
  border-radius: 38px;
  font-size: 15px;
  font-weight: 600;
  background: #222;
  border: 0;
  color: #eee;
}
#todo-filter:focus,
#todo-filter:active {
  outline: none; /* Removes outline for accessibility */
  border: none; /* Removes the border */
}
select {
  appearance: none;
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  padding-right: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  position: relative;
  text-align: center;
}

select::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #f0f0f0;
}

option {
  color: #333;
  background-color: #f0f0f0;
  padding: 10px;
}
